body{
  background-color: #87A7B3;
  text-align: center;
  color: #F4EEE8
}
  h1{
    font-family: Oxygen;
    font-weight: bold;
    font-size: 4rem;
    margin: 30px;
    text-align: center;

  }
  h2 {
    padding-top: 50px;
    font-family: Rufina;
    
  }
  h5 {
    color: white;
  }
  p{
    color: white;
  }
img {
  width: 60%;

}
